@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Cinzel-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-CondLight-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/SpaceMono-Regular.ttf') format('truetype');
}