html, body{
    margin: 0;
}

.responsive {
    max-width: 100%;
    display: block;
    height: auto;
}

.spacing {
    margin: 0 10%;
}

#hero-page {
    margin: 0 10%;
    height: 100vh;
}

#hero-container {
    margin-top: 22%;
}

#hero-image {
    justify-content: center;
    align-items: center;
    display: flex;
}

#hero-text {
    text-align: center;
}

#verticalLine {
    max-width: 100%;
    display: block;
    height: 10vh;
}

#hero-text {
    font-family: 'Space Mono';
}

#hero-logos {
    display: flex;
    margin-top: 2%;
    justify-content: center;
}

#title {
    padding-left: 1%;
    font-family: 'Cinzel';
}

/* Title size */
@media only screen and (min-width: 614px) {
    #title {
        font-size: 4em;
    }

    #hero-text {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 420px) and (max-width: 613px) {
    #title {
        font-size: 3em;
    }

    #hero-text {
        font-size: 1em;
    }
}

@media only screen and (max-width: 419px) {
    #title {
        font-size: 2em;
    }

    #hero-text {
        font-size: 0.8em;
    }
}