.italic {
    font-style: italic;
}

.img-responsive {
    max-width: 100%;
    display: block;
    height: auto;
}

.spacing {
    margin: 0 10%;
}

.aligned {
    display:flex;
    align-items:center;
}

.entry-date {
    font-family: 'Cinzel';
    color: #696969;
}

.entry-title {
    margin-top:0px;
}

.entry-content {
    font-family: 'Open Sans';
    margin-bottom: 10%;
    font-size: 1.5em;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 5%;
}