/* Responsive font size of 
 * title and description text 
 */

@media only screen and (min-width: 614px) {
    #resamvi {
        font-size: 4em;
    }
    #hero-description {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 420px) and (max-width: 613px) {
    #resamvi {
        font-size: 3em;
    }
    #hero-description {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 419px) {
    #resamvi {
        font-size: 2em;
    }
    #hero-description {
        font-size: 0.8em;
    }
}